* {
    box-sizing: border-box;
    margin: 0px;
}

header {
    text-align: center;
    background-color: rgb(33, 40, 40);
    color: white;
    margin: 0;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

body {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

h1 {
    display: inline;
    font-size: 1rem;
    margin: 5px 5px 5px 5px;
}

label {
    margin: 5px 5px 5px 0px;
}

.main-container {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.laser-container {
    display: inline-block;
    height: 200px;
    border: 1px solid rgb(17, 17, 53);
    border-radius: 4px;
    background-color: white;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 3px 5px 5px darkgray;
    overflow: hidden;
}

.laser-display {
    position: relative;
}

.laser-display>p {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    text-shadow: 0px 0px 5px white;
    right: calc(50% - (90px / 2) - 3px);
    border: 1px lightgray solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.781);
    padding: 2px;
}

input {
    width: 90px;
    margin: 5px 0px;
}

.settings-input>input,
.settings-input>label {
    width: auto;
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

.settings-input>input {
    margin-left: 20px;
}

.settings-input>input:disabled~label {
    color: grey;
}

.settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .settings-mesopic {
    display: none;
}

input:checked~.settings-mesopic {
    display: inline;
} */

.settings-mesopic>input {
    margin: 0;
}

.break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: inline-block;
}

.outer-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, white, rgb(215, 223, 230));
}